.btn-cadastrar {
  margin-bottom: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: #0300c9d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

.btn-cadastrar:hover {
  background-color: #1a1a8c;
}

.btn-atualizar {
  margin-bottom: 0.7rem;
  padding: 0.5rem 1.2rem;
  background-color: #0300c9d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
}

.btn-atualizar:hover {
  background-color: #1a1a8c;
}

.btn-deletar {
  margin-bottom: 0.7rem;
  padding: 0.5rem 1.2rem;
  background-color: #0300c9d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
}

.btn-deletar:hover {
  background-color: #1a1a8c;
}

.rodape {
  height: 8vh;
}
